# INTRODUCTION

| ID       | Fullname            |
|----------|---------------------|
| 19127399 | Huỳnh Cao Nhật Hiếu |
| 19127444 | Ngô Đăng Khoa       |

# LIBRARY

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn')

# Add addition library

# PREPROCESSING DATA

## *Read Data*

In [2]:
# Load Data that I will investigate it
df_match = pd.read_csv('Match.csv')
df_player_attribute = pd.read_csv('Player_Attributes.csv')
df_team_attribute = pd.read_csv('Team_Attributes.csv')
df_team = pd.read_csv('Team.csv')
df_player = pd.read_csv('Player.csv')
df_country = pd.read_csv('Country.csv')
df_league = pd.read_csv('League.csv')

# GIVE THE QUESTION

## 1.  Phân tích lối chơi các đội trong team Attributes

## 2. Phân tích các hãng cược

### What are benefits of finding the answer?
To know which betting company is good to bet and make some money :DDDDD

### Exploring data
We will anwser this question using data from df_match

#### Odds of betting companies  df_match:
* B365H = Bet365 home win odds
* B365D = Bet365 draw odds
* B365A = Bet365 away win odds
* BWH = Bet&Win home win odds
* BWD = Bet&Win draw odds
* BWA = Bet&Win away win odds
* IWH = Interwetten home win odds
* IWD = Interwetten draw odds
* IWA = Interwetten away win odds
* LBH = Ladbrokes home win odds
* LBD = Ladbrokes draw odds
* LBA = Ladbrokes away win odds
* PSH = Pinnacle home win odds
* PSD = Pinnacle draw odds
* PSA = Pinnacle away win odds
* WHH = William Hill home win odds
* WHD = William Hill draw odds
* WHA = William Hill away win odds
* SJH = Stan James home win odds
* SJD = Stan James draw odds
* SJA = Stan James away win odds
* VCH = VC Bet home win odds
* VCD = VC Bet draw odds
* VCA = VC Bet away win odds
* GBH = Gamebookers home win odds
* GBD = Gamebookers draw odds
* GBA = Gamebookers away win odds
* BSH = Blue Square home win odds
* BSD = Blue Square draw odds
* BSA = Blue Square away win odds

Betting companies Dataset:

In [3]:
companies = pd.DataFrame({'Short name': ['B365','BW','IW','LB','PS','WH','SJ', 'VC', 'GB','BS'],
                        'Company name': ['Bet365', 'Bet&Win','Interwetten','Ladbrokes', 'Pinnacle','William Hill','Stan James','VC Bet', 
                        'Gamebookers', 'Blue Square ']})
companies

  Short name  Company name
0       B365        Bet365
1         BW       Bet&Win
2         IW   Interwetten
3         LB     Ladbrokes
4         PS      Pinnacle
5         WH  William Hill
6         SJ    Stan James
7         VC        VC Bet
8         GB   Gamebookers
9         BS  Blue Square

### Preprocess data

First we drop unnecessary columns like match stats or players, we just care about the results, odds and general informations of a match.

In [4]:
pd.options.display.max_columns = None
df_match = df_match[['id', 'country_id', 'league_id','season', 'home_team_goal',
                    'away_team_goal', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA','IWH','IWD','IWA', 'LBH', 'LBD', 'LBA','PSH','PSD','PSA',
                    'WHH','WHD','WHA','SJH','SJD','SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA']]

Create a result column through goals has been scored each match:
* If home team win the result will be 1
* If home team and away team is draw the result will be 0
* If home team is defeated the result will be 2

In [5]:
def result(df):
    if df['home_team_goal'] > df['away_team_goal']:
        return 1
    if df['home_team_goal'] == df['away_team_goal']:
        return 0
    if df['home_team_goal'] < df['away_team_goal']:
        return 2

In [6]:
df_match['result'] = df_match.apply(result,axis=1)
df_match

,id,country_id,league_id,season,home_team_goal,away_team_goal,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,result
0,1,1,1,2008/2009,1,1,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20,0
1,2,1,1,2008/2009,0,0,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60,0
2,3,1,1,2008/2009,0,3,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75,2
3,4,1,1,2008/2009,5,0,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50,1
4,5,1,1,2008/2009,1,3,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25975,25976,24558,24558,2015/2016,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
25976,25977,24558,24558,2015/2016,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25977,25978,24558,24558,2015/2016,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25978,25979,24558,24558,2015/2016,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

Create predict columns for each companies:
- if the odd for the home team is lower than the away team so companies predict the home team win's percentage higher and vice versa.
- if the above condition is false companies predict two teams is draw.
- if a company does not predict, it will return -1

In [7]:
def companies_pred(df, shortname):
    home = shortname + 'H'
    draw = shortname + 'D'
    away = shortname + 'A'
    if df[home] < df[draw] and df[home] < df[away]:
        return 1
    if df[away] < df[draw] and df[away] < df[home]:
        return 2
    elif df[away]==np.nan: 
        return 0
    return -1

In [8]:
for item in companies['Short name']:
    df_match[item] = df_match.apply(companies_pred, axis = 1, shortname=item)
    
df_match

,id,country_id,league_id,season,home_team_goal,away_team_goal,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,result,B365,BW,IW,LB,PS,WH,SJ,VC,GB,BS
0,1,1,1,2008/2009,1,1,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20,0,1,1,1,1,-1,1,1,1,1,1
1,2,1,1,2008/2009,0,0,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60,0,1,1,1,1,-1,1,1,1,1,1
2,3,1,1,2008/2009,0,3,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75,2,1,1,2,-1,-1,2,2,1,-1,1
3,4,1,1,2008/2009,5,0,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50,1,1,1,1,1,-1,1,1,1,1,1
4,5,1,1,2008/2009,1,3,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67,2,2,2,2,2,-1,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25975,25976,24558,24558,2015/2016,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25976,25977,24558,24558,2015/2016,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25977,25978,24558,24558,2015/2016,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25978,25979,24558,24558,2015/2016,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

### Analyze betting companies

For each company we will calculate ratios of correct predictions and number of matches

In [9]:
companies_rates = np.array([])
matches = np.array([])
for item in companies['Short name']:
    companies_rates = np.append(companies_rates, len(df_match[(df_match['result'] == df_match[item]) & (df_match[item] != -1)]) * 100 / len(df_match[df_match[item] != -1]))
    matches = np.append(matches, len(df_match[df_match[item] != -1]))

In [10]:
companies['successful_rate (%)'] = companies_rates
companies['matches'] = matches
companies

  Short name  Company name  successful_rate (%)  matches
0       B365        Bet365            53.461985  22386.0
1         BW       Bet&Win            53.403424  22257.0
2         IW   Interwetten            53.877400  21664.0
3         LB     Ladbrokes            53.444545  22180.0
4         PS      Pinnacle            52.789507  11131.0
5         WH  William Hill            53.587261  22106.0
6         SJ    Stan James            53.586898  16853.0
7         VC        VC Bet            53.483267  22321.0
8         GB   Gamebookers            53.464212  13957.0
9         BS  Blue Square             53.429758  13966.0